In [1]:
import pandas as pd
alunos_dic = { 'Nome' : ['Rodrigo', 'Fernanda', 'Pedro', 'Roberto', 'Carlos'], 
          'Nota': [9, 8.5, 6, 5, 7],
          'Aprovado': ['Sim', 'Sim', 'Não', 'Não', 'Sim']}

In [2]:
alunos_df = pd.DataFrame(alunos_dic)
alunos_df.head()

       Nome  Nota Aprovado
0   Rodrigo   9.0      Sim
1  Fernanda   8.5      Sim
2     Pedro   6.0      Não
3   Roberto   5.0      Não
4    Carlos   7.0      Sim

In [4]:
alunos_df2 = alunos_df.loc[0:2]
alunos_df2

       Nome  Nota Aprovado
0   Rodrigo   9.0      Sim
1  Fernanda   8.5      Sim
2     Pedro   6.0      Não

In [6]:
alunos_aprovados_df = alunos_df.loc[alunos_df['Nota'] >= 7]
alunos_aprovados_df

       Nome  Nota Aprovado
0   Rodrigo   9.0      Sim
1  Fernanda   8.5      Sim
4    Carlos   7.0      Sim

In [7]:
alunos_reprovados_df = alunos_df.loc[alunos_df['Nota'] < 7]
alunos_reprovados_df

      Nome  Nota Aprovado
2    Pedro   6.0      Não
3  Roberto   5.0      Não